a{
    text-decoration: none;
}

.header,
.footer{
    display: block;
    width: 30%;
    height: 100px;
    border: 1px solid #000000;
    text-align: left;
    margin: 0 auto ;
    padding: 5px;
}

#user-details,
#upload-images,
#images-listing,
.messages,
#user-data,
#gallery,
#login-form,
.view-profile{
    display: block;
    width: 30%;
    border: 1px solid #000000;
    text-align: left;
    margin: 10px auto;
    padding: 5px;
}

.view-profile{
    text-align: right;
}

.login-link{
    float: right;
}

#images-listing img{
    max-height: 100px;
}

#gallery img {
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.slick-prev:before, .slick-next:before {
    color: #ffd121 !important;
}
