.header,.footer{
    display: block;
    width: 30%;
    height: 100px;
    border: 1px solid #000000;
    text-align: left;
    margin: 0 auto ;
    padding: 5px;
}

#user-details,#upload-images, #images-listing, .messages{
    display: block;
    width: 30%;
    border: 1px solid #000000;
    text-align: left;
    margin: 10px auto;
    padding: 5px;
}