{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <form id="user-details" action="save-user-data" method="post">
        <div>
            <label for="name">Profile data:</label>
        </div>
        <div>
            <label for="name">First Name:</label>
            <input type="text" id="first-name" name="frist_name" />
        </div>

        <div>
            <label for="name">Last Name:</label>
            <input type="text" id="last-name" name="last_name" />
        </div>

        <div>
            <label for="mail">E-mail:</label>
            <input type="email" id="mail" name="email" />
        </div>

        <div>
            <input type="radio" name="sex" value="MALE" checked> Male<br>
            <input type="radio" name="sex" value="FEMALE" > Female<br>
        </div>

        <div>
            <label for="programming-languages">Known programming languages:</label><br />
            <input type="checkbox" name="programming_languages[]" value="PHP" checked> PHP<br>
            <input type="checkbox" name="programming_languages[]" value="JAVA" > JAVA<br>
            <input type="checkbox" name="programming_languages[]" value="C++" > C++<br>
            <input type="checkbox" name="programming_languages[]" value="PYTHON" > PYTHON<br>
            <input type="checkbox" name="programming_languages[]" value="RUBY" > RUBY<br>
            <input type="checkbox" name="programming_languages[]" value="JAVASCRIPT" > JAVASCRIPT<br>
            <input type="checkbox" name="programming_languages[]" value="C#" > C#<br>
        </div>

        <div>
            <label for="msg">Short description:</label>
            <textarea id="msg" name="user_description"></textarea>
        </div>

        <input type="submit" name="submit" value="Submit profile data"/>
    </form>

    <form id="upload-images"  action="process-image" method="post" enctype="multipart/form-data">
        <label for="name">Upload images:</label><br />
        <input type="file" name="file"><br />
        <input type="submit" name="submit" value="Submit Image"/>
    </form>

    <div id="images-listing">
        <label for="name">Images listing:</label><br />
        <div class="image">
            <span class="title">Image 1</span>
            <a href="#" class="delete-link">Delete</a>
        </div>
        <div class="image">
            <span class="title">Image 2</span>
            <a href="#" class="delete-link">Delete</a>
        </div>
        <div class="image">
            <span class="title">Image 3</span>
            <a href="#" class="delete-link">Delete</a>
        </div>
        <div class="image">
            <span class="title">Image 4</span>
            <a href="#" class="delete-link">Delete</a>
        </div>
        <div class="image">
            <span class="title">Image 5</span>
            <a href="#" class="delete-link">Delete</a>
        </div>
    </div>
{% endblock %}